.login-entrar,
.login-cadastro {
    background-color: #f0f0f0;
    width: 30rem;
    position: relative;
}

.login-entrar {
    border: 1px solid;
    padding: 1.6rem;
    text-align: center;
    border-radius: .5rem;

    .mensagem-erro {
        position: absolute;
        top: -5.5rem;
        right: 0;
        border: 1px solid #000;
        border-radius: .5rem;
        padding: .5rem;
        background-color: #e0311d;
        color: #f0f0f0;
    }

    h2 {
        font-size: 2.5rem;
    }

    form {
        padding: 1rem 0;

        div {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            padding: 1rem;

            label {
                font-size: 1.8rem;
                padding-bottom: .5rem;
            }

            input {
                padding: .5rem;
                border: 1px solid #f0f0f0;
                border-radius: .5rem;
                width: 100%;
            }

            input:hover {
                transition: .3s;
                scale: 105%;
                box-shadow: -.1rem .05rem .8rem #000;
            }

            input:focus {
                outline: none;
            }
        }

        button {
            margin: .5rem 0 1rem 0;
            padding: 1rem;
            border-radius: .5rem;
            border: none;
        }

        .button-confirmar_ativo {
            margin: .5rem 0 1rem 0;
            padding: 1rem;
            border-radius: .5rem;
            border: none;
            cursor: pointer;
        }

        .button-confirmar_ativo:hover {
            transition: .3s;
            scale: 105%;
            color: #000;
            box-shadow: 0 .1rem .8rem #000;
            background-color: #85ff21;
        }

        .button-confirmar_ativo:active {
            transition: .3s;
            scale: 100%;
        }
    }

    .button-cadastro {
        width: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: .5rem;
        padding: .5rem;
    }

    .button-cadastro:hover {
        transition: .3s;
        box-shadow: .1rem .1rem .8rem #000;
    }
}

.login-cadastro {
    border: 1px solid;
    padding: 1.6rem;
    text-align: center;
    border-radius: .5rem;

    .voltar {
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        cursor: pointer;
        background-color: #000;
        color: #f0f0f0;
        padding: .2rem;
        border-radius: 50%;
    }

    .voltar:hover {
        transition: .2s;
        scale: 105%;
    }

    h2 {
        font-size: 2.5rem;
    }

    form {
        padding: 1rem 0 0;

        div {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            padding: 1rem;

            label {
                font-size: 1.8rem;
                padding-bottom: .5rem;
            }

            input {
                padding: .5rem;
                border: 1px solid #f0f0f0;
                border-radius: .5rem;
                width: 100%;
            }

            input:hover {
                transition: .3s;
                scale: 105%;
                box-shadow: -.1rem .05rem .8rem #000;
            }

            input:focus {
                outline: none;
            }
        }

        button {
            margin: .5rem 0 1rem 0;
            padding: 1rem;
            border-radius: .5rem;
            border: none;
        }

        .button-confirmar_ativo {
            margin: .5rem 0 1rem 0;
            padding: 1rem;
            border-radius: .5rem;
            border: none;
            cursor: pointer;
        }

        .button-confirmar_ativo:hover {
            transition: .3s;
            scale: 105%;
            color: #000;
            box-shadow: 0 .1rem .8rem #000;
            background-color: #85ff21;
        }

        .button-confirmar_ativo:active {
            transition: .3s;
            scale: 100%;
        }
    }
}