<div class="login-entrar" *ngIf="this.tela === 'entrar'">
    <h2>Entrar na Conta</h2>
    <form>
        <div>
            <label for="email-entrar">Email</label>
            <input type="text" id="email-entrar" placeholder="Digite seu email" [(ngModel)]="this.emailEntrar" name="email-entrar">
        </div>
        <div>
            <label for="senha-entrar">Senha</label>
            <input type="text" id="senha-entrar" placeholder="Digite sua senha" [(ngModel)]="this.senhaEntrar" name="senha-entrar">
        </div>
        <button 
            (click)="this.enviarDados()">Confirmar</button>
    </form>
    <button class="button-cadastro" (click)="this.mudarTela()">Ainda não tem uma conta? Cadastre-se</button>
</div>
<div class="login-cadastro" *ngIf="this.tela === 'cadastro'">
    <span class="material-symbols-outlined voltar" (click)="this.mudarTela()">
        arrow_back
        </span>
    <h2>Cadastro</h2>
    <form>
        <div>
            <label for="nome-cadastro">Nome</label>
            <input type="text" id="nome-cadastro" placeholder="Digite seu nome" [(ngModel)]="this.nomeCadastro" name="nome-cadastro">
        </div>
        <div>
            <label for="email-cadastro">Email</label>
            <input type="text" id="email-cadastro" placeholder="Digite seu email" [(ngModel)]="this.emailCadastro" name="email-cadastro">
        </div>
        <div>
            <label for="senha-cadastro">Senha</label>
            <input type="text" id="senha-cadastro" placeholder="Digite sua senha" [(ngModel)]="this.senhaCadastro" name="senha-cadastro">
        </div>
        <div>
            <label for="cpf-cadastro">Cpf</label>
            <input type="text" id="cpf-cadastro" placeholder="Digite seu cpf" [(ngModel)]="this.cpfCadastro" name="cpf-cadastro">
        </div>
        <button>Cadastrar</button>
    </form>
</div>