.body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .div-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;

        a:first-child {
            padding-bottom: .2rem;
        }

        a:last-child {
            padding-top: .2rem;
        }

        a:hover {
            transition: .3s;
            scale: 102%;
        }
    }

    .div-saudacao {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}